<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta</title>
</head>
<body>
    <h1>Crar una nueva cuenta bancaria</h1>
    <form method="POST" action="{{url_for('create_account')}}">
        <label for="account">Nombre del dueno de la cuenta </label>
        <input type="text" name="account" id="account" required/>
        <br><br/>
        <label for="initial_balance">Saldo inicial: </label>
        <input type="number" step= "0.01" name="initial_balance" id="initial_balance" required/>       
        <br><br/>
        <button type="submit">Crear cuenta</button>
    </form>
    <a href="{{url_for('index')}}">Volver al menu principal</a>
</body>
</html>