<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Gastos</title>
</head>
<body>
    <h1>💸 Aplciacion para rastrear tus gastos 💸 <h1>
        <p>Presupuesto actual: ${{presupuesto}} </p>
    <ul>
        <li><a href="{{url_for('establecer_presupuesto')}}">Establecer presupuesto </a></aZ></li>
        <li><a href="{{url_for('agregar_gasto')}}">Agregar Gasto </a></aZ></li>
        <li><a href="{{url_for('mostrar_gastos')}}">Mostrar Gastos </a></aZ></li>
        <li><a href="{{url_for('informe')}}">Generar Informe </a></aZ></li>
       
    </ul>
    <p>{{get_flashed_messages()}}</p>
</body>
</html>

