<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar gastos</title>
</head>
<body>
    <h1>Lista de gastos<h1>
        <table border="2"> 
        <tr>
            <th> Categoria </th>
            <th> Monto </th>
        </tr>
        {% if gastos %}
        
          {% for gasto in gastos %}

          <tr>
            
            <td> {{gasto.categoria}} </td>
            <td> {{gasto.monto}} </td>
          </tr>

          {% endfor %}
        </table>
          <h2>El total de tus gastos es: ${{total}}</h2>
        {% else %}
            <label>No hay gastos registrados.</label>
        {% endif %}

        <br>
        <br>
    <a href="{{url_for('index')}}">Volver al menu principal</a>
</body>
</html>